annotated-types
anyio
certifi
charset-normalizer
click
fastapi
h11
httptools
idna
#psycopg2==2.9.9
psycopg2-binary
pydantic
pydantic_core
python-dateutil
python-dotenv
PyYAML
requests
six
sniffio
starlette
typing_extensions
ua-parser
urllib3
uvicorn
uvloop
watchfiles
websockets
watchtower
boto3
zappa
mangum
